/*CSS document*/
body{
    background-color:#e51d1d;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
    
div#container {
    width: 1170px;
    display: block;
    margin: 0 auto;
    background: #eeeeee;
    margin-top: 3em;
    margin-bottom: 3em;
}

/*định dạng header*/
div#header {
    width: 100%;
    height: 15em;
}

p.name_top {
    font-size: 40px;
    font-weight: bolder;
    line-height: 0px;
}

p.name_center {
    font-size: 40px;
    font-weight: bold;
    line-height: 0px;
}

p.name_bottom {
    font-size: 26px;
    font-weight: 300;
    line-height: 0;
    font-family: 'Open Sans', sans-serif;
    padding-left:0.5em;
}

div.name>p {
    margin-left: 1em;
}

.name {
    width: 33%;
    display: block;
    float: left;
    font-family: 'Abril Fatface', cursive;
    letter-spacing:-0.1em;
    padding-top: 1.3em;
}

.intro {
    display: block;
    width: 33%;
    float: left;
    padding-top: 2.5em;
}

.intro_contact {
    display: block;
    width: 33%;
    float: left;
    padding-top: 2.5em;
}

.intro_contact {
    display: block;
    width: 33%;
    float: left;
    padding-top:2em;
}

img.myimg {
    width: 90px;
    height: 120px;
    border: 10px solid #fff;
    float:left;
    margin-right:1em;
}

p.intro_text {
    margin-top: -0.1em;
}

div.social_icon>ul>li {
    display: block;
    float: left;
    list-style: none;
}

.social_icon {
    display: block;
    padding-bottom:20px;
    margin-top: -1em;
    padding-bottom: 2em;
}

div.social_icon>ul>li>a {
    color: #888888;
    font-size: 18px;
    margin-right:5px;
}

div.social_icon>ul>li>a:hover>i {
    color: #000000;
}

div.phone_contact>ul>li>a {
    text-decoration: none;
    color: #80878f;
}

div.phone_contact>ul>li:hover>a {
    color: #000000;
}

div.phone_contact>ul>li>i {
    color: #80878f;
    margin-right: 10px;
}

div.phone_contact>ul>li {
    list-style: none;
}

/*định dạng content*/
p.em {
    margin-left: 2.5em;
}

p.em.top {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: -0.07em;
    padding: 0;
    margin-left: 1.2em;
    line-height: 0em;
    margin-top: 0.6em;
}

div#content {
    width: 100%;
    display: block;
    background-color: #ffffff;
}
/*định dạng phần personal profile*/
.personal_profile {
    height: 15em;
    display: block;
    border-top: 1px solid #e51d1d;
    padding-top:2em;
}

.title_personal {
    width: 33%;
    display: block;
    float: left;
}

.content_personal {
    width: 66%;
    display: block;
    float: left;
}

div.content_personal>p {
    margin-top: 0em;
}

/*định dạng phần technical skills*/
.technical_skills {
    display: block;
    height: 20em;
    border-top: 1px solid #e51d1d;
    padding-top:2em;
    clear:both;
}

div.content_technical>p {
    margin-top: 0em;
}

.title_technical {
    width: 33%;
    float: left;
    display: block;
}

.content_technical {
    width: 66%;
    display: block;
    float: left;
}

.skillbar {
    display: inline-block;
    width: 100%;
}

.container {
    float: left;
    display: block;
    width: 10%;
}

div.skillbar>p {
    width: 10%;
    float: left;
    display: block;
}

/*định dạng phần skillbar*/
.skill {
    width: 50%;
    display: block;
    float: left;
}

.skill_container {
    width: 90%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.html {
    width: 70%;
    background-color: #2196F3;
}

.css {
    width: 70%;
    background-color: #2196F3;
}

.js {
    width: 45%;
    background-color: #f44336;
}

.design {
    width: 10%;
    background-color: #808080;
}


/*định dạng phần work experience*/
.work_experience {
    display: block;
    height: 30em;
    border-top: 1px solid #e51d1d;
    padding-top:2em;
    clear:both;
}

div.content1_left>h3 {
    margin-top: 0.3em;
}

div.content1_right>p {
    margin-top: 0.3em;
}

.title_experience {
    display: block;
    width: 33%;
    float: left;
}

.content_experience {
    display: block;
    width: 66%;
    float: left;
}

.content1_exp {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #cccccc8a;
}

.content2_exp {
    display: inline-block;
    width: 100%;
}

span {
    font-weight: bold;
}

.content1_left {
    display: block;
    width: 50%;
    float: left;
}

.content1_right {
    display: block;
    width: 50%;
    float: left;
}

.content2_left {
    display: block;
    width: 50%;
    float: left;
}

.content2_right {
    display: block;
    width: 50%;
    float: left;
}

/*định dạng phần education*/
.education {
    display: block;
    height: 25em;
    border-top: 1px solid #e51d1d;
    clear:both;
}

.title_education {
    width: 33%;
    display: block;
    float: left;
}

.content_education {
    width: 66%;
    float: left;
    display: block;
}

.edu_top {
    border-bottom: 1px solid #cccccc87;
}


/*định dạng phần work example*/
.work_example {
    display: block;
    height: 40em;
    border-top: 1px solid #e51d1d;
    padding-top:2em;
    clear:both;
}

.title_work {
    display: block;
    width: 33%;
    float: left;
}

.content_work {
    display: block;
    width: 66%;
    float: left;
}

div.content_button>ul>li {
    list-style: none;
    float: left;
    margin: 0 3px 5px;
    background-color: #dddd;
    color: #555555;
    cursor: pointer;
    line-height: 2em;
    -webkit-border-radius: 3px;
    display: inline-block;
}

div.content_button>ul>li:hover {
    background-color: #000;
    color:#fff;
}

.img_row1 {
    width: 100%;
    display: block;
}

.img_row2 {
    display: block;
    width: 100%;
    /* float: left; */
}

.img_row3 {
    display: block;
    width: 100%;
}

.img_col1_left {
    display: block;
    width: 50%;
    float: left;
}

.img_col1_right {
    display: block;
    float: left;
    width: 50%;
}

img.img_one {
    width: 10em;
    height: 10em;
    float: left;
    margin-bottom: 1em;
    padding-right: 1.2em;
}

.content_example {
    clear: both;
    padding-top: 2em;
}

    /*định dạng hover overlay images*/
    .img_block {
    position: relative;
    width: 25%;
    float: left;
}

    img.img_one {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
    .overlay {
    position: absolute;
    bottom: 15px;
    width: 83%;
    height: 48%;
    padding-top: 40%;
    text-align: center;
    background: rgba(0, 0, 0, 0.46);
    zoom: 1;
}

    .img_block:hover>overlay {
    opacity: 1;
}

    .img_block:hover>img.img_one {
    opacity: 0.3;
}

    i.fa.fa-eye {
    background: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    padding: 5px;
    float: left;
    margin-left: 30%;
}

    i.fa.fa-link {
    background: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    padding: 5px;
    float: left;
    margin-left: 10%;
}
    i.fa.fa-caret-right {
    background: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    float: left;
    margin-left: 30%;
    margin-: 10px;
    padding: 5px 10px 5px 10px;
}

/*định dạng phần footer*/
.title_work {
    display: block;
    width: 33%;
    float: left;
}

.content_work {
    display: block;
    width: 66%;
    float: left;
}

.content_button {
    width: 100%;
    display: block;
    margin-left: -2.5em;
}

div.content_button>ul>li {
    list-style: none;
    float: left;
    margin: 0 3px 5px;
    background-color: #dddd;
    color: #555555;
    cursor: pointer;
    line-height: 2em;
    -webkit-border-radius: 3px;
    display: inline-block;
}

.contact {
    display: block;
    border-top: 1px solid #e51d1d;
    padding-top: 2em;
    height: 20em;
    clear:both;
}

.contact_me {
    display: block;
    width: 33%;
    float: left;
}

.contact_button {
    display: block;
    width: 33%;
    float: left;
}

.contact_copy {
    display: block;
    width: 33%;
    float: left;
}


input.ct_btn {
    width: 90%;
    height: 3em;
    border-radius: 0.3em;
    border: 1px solid #00000075;
    margin-bottom: 1em;
    padding-left:0.5em;
}

input.ct_btn.one {
    margin-top: 0.5em;
}

input.ct_btn.last {
    height: 0em;
    padding-bottom: 7em;
    padding-top: 1.5em;
}

div.contact_button>button {
    width: 10em;
    height: 3em;
    background-color: #e51d1d;
    border-radius: 0.3em;
    border: 1px solid #e51d1d;
    color: #060000;
}

div.contact_button>button:hover {
    background-color: #000;
    color: #fff;
}

div.contact_button>button:hover>a {
    color: #fff;
}

div.contact_button>button:hover>i {
    color: #fff;
}

i.fa.fa-envelope {
    color: #060000;
}

div.contact_button>button>a {
    text-decoration: none;
    color: #000;
    padding-left: 5px;
}

div.contact_copy>h2 {
    font-size: 1em;
    margin-left: 2em;
    line-height: 0em;
}

div.contact_copy>p {
    margin-left: 2em;
}

div.contact_copy>button {
    width: 10em;
    height: 2.5em;
    margin-left: 2.5em;
    border-radius: 0.3em;
    border: 1px solid #e51d1d;
    background-color: #e51d1d;
}

div.contact_copy>button>a {
    text-decoration: none;
    color: #000;
    padding-left: 5px;
}

div.contact_copy>button:hover {
    background-color: #000;
    color: #fff;
}

div.contact_copy>button:hover>a {
    color: #fff;
}


/*định dạng giao diện responsive trên table 640 px*/
@media only screen and (max-width: 640px) {



}

/*định dạng giao diện responsive trên phone 360px*/
 @media only screen and (max-width:360px)  {
div#container {
    width:96%;
    margin-top:1em;
    margin-bottom:1em;
}
/*định dạng header*/
div#header {
    height: 35em;
}

.name {
    width: 100%;
}

p.name_bottom {
    padding-left: 0.3em;
}

.intro {
    width: 90%;
    margin-left: 1.5em;
    padding: 0;
}

.intro_contact {
    display: block;
    width: 100%;
    float: left;
    padding: 0;
}

img.myimg {
    height: 7.5em;
    border: 10px solid #fff;
    float:left;
    margin-right:1em;
}

p.intro_text {
    width: 95%;
}

div.name>p {
    margin-left: 0.5em;
    letter-spacing: 0;
}

.social_icon {
    display: block;
    margin-top: -1em;
    padding-bottom: 2em;
    margin-left: -1em;
}

div.social_icon>ul>li>a>i {font-size: 2em;}

.phone_contact {
    font-size: 1em;
    margin-left: -1em;
}

p.em.top {
    margin-left: 0.7em;
}

p.hidden {
    display: none;
}

.personal_profile {
    height: 30em;
    padding-top: 1em;
}

.title_personal {
    width: 100%;
    display: block;
    float: left;
}

.content_personal {
    width: 100%;
    display: block;
    float: left;
    margin-left: 1.5em;
}

div.content_personal>p {
    width:90%;
}

.technical_skills {
    height: 40em;
    padding-top: 1em;
}

.title_technical {
    width: 100%;
}

.skill {
    width: 100%;
    padding-left: 1.5em;
}

.content_technical {
    width: 100%;
}

div.content_technical>p {
    padding-left: 1.5em;
    width: 90%;
}

.work_experience {
    height: 65em;
    padding-top: 1em;
}

.title_experience {
    width: 100%;
}

.content_experience {
    width: 100%;
    padding-left:1.5em;
}

.content1_left {
    width: 90%;
}

.content1_right {
    width: 90%;
}

.content2_left {
    width: 90%;
}

.content2_right {
    width: 90%;
}

.education {
    height: 42em;
    padding-top:1em;
}

.title_education {
    width: 100%;
}

.content_education {
    width: 90%;
    padding-left:1.5em;
}

.work_example {
    padding-top: 1em;
    height: 80em;
}

.title_work {
    display: block;
    width:100%;
}

.content_work {
    width: 100%;
}

.content_button {
    width: 95%;
    margin-left: -1em;
}

.content_button>ul {
    width: 100%;
}

.content_example {
    padding-top: 2em;
}

.img_block.row1 {
    width: 33%;
    padding-left: 1.5em;
}

.img_block.row2 {
    width: 33%;
    margin-left: 1.5em;
}

    .overlay {
    position: absolute;
    width: 100%;
    height: 60%;
    text-align: center;
    background: rgba(0, 0, 0, 0.46);
    zoom: 1;
}

.contact {
    padding-top: 1em;
    height: 35em;
}

.contact_me {
    width: 100%;
}

.contact_button {
    width: 100%;
    padding-left: 1.5em;
}

.contact_copy {
    width: 100%;
}

div.contact_copy>h2 {
    margin-left: 0;
    padding-left:1.5em;
}

div.contact_copy>p {
    margin-left: 0;
    padding-left:1.5em;
}

div.contact_copy>button {
    margin-left: 2em;
}

input.ct_btn {
    width: 85%;
}


}

